@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700&display=swap");

:root {
  --white: #f3f3f3;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
  height: 200vh;

}

::selection{
  background-color: var(--blue);
  color: var(--white)
}

/*custom scroll bar*/
/* width :entire scrollbar*/
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track : area where scroll bar will move */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle :main scroll bar that user will grab to scroll*/
::-webkit-scrollbar-thumb {
  background: #ADD8E6;
  border-radius: 3rem;
  border-color: #111;
}

